
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-size:30px 400px;font-family:Arial;font-weight:bold;margin:10px 400px;font-size:30px">TƯ VẤN KHÁCH HÀNG</h2>

<div>
    <span style=" display: flex; font-family: Arial; font-size: 20px; flex-direction: row; align-items: center;">
    <img style="width:50px;height:50px;border-radius:20%; margin-right: 10px" src="~/Content/Image/đt.png" />090887757-0703568440
    </span>
</div>
<div style="padding:15px 0;">
    <span>
        <img style="width:50px;height:50px;border-radius:20%" src="~/Content/Image/fb.jpg" /> <a></a>
    </span>
</div>
<div style="font-size:20px;font-family:Arial">
    Giờ hoạt động của trung tâm chăm sóc khách hàng:
    <li>Dịch vụ hỗ trợ 24h</li>
    <li>Cửa hàng mở cửa: thứ Hai-thứ Bảy – 8h-22h</li>
    <li>Dịch vụ hậu mãi: thứ Hai-thứ Sáu – 8h-17h</li>
    Quý khách hàng cũng có thể yêu cầu cửa hàng liên hệ lại để tư vấn.
</div>
